/* Write your CSS here */
/* .items-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item-container {
  width: 28vw;
  margin: 0;
  padding: 0px;
}

input,
select {
  width: 20vw;
} */
